<div class="login">
    <div class="heading">
       <h2>Sign in</h2>
       <form action="login/clicked" method="get">
            <div class="input-group input-group-lg">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <input type="text" class="form-control" name='username' placeholder="Username or email" value="root">
    
            <div class="input-group input-group-lg">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input type="password" class="form-control" name='password' placeholder="Password" value="Aa1234">
            </div>
    
            <button type="submit" class="float">Login</button>
        </form>
    </div>
</div>